# local package
-e .

# external requirements
click
Sphinx
coverage
flake8
black
python-dotenv>=0.5.1
pyyaml
pandas
numpy
matplotlib
scikit-learn
lightgbm
pytest

# API
fastapi
uvicorn[standard]==0.20.0

#notebook
jupyter-contrib-nbextensions==0.5.1
notebook==6.4.10
yapf==0.30